:root {
  --jp-color-primary: #aaaa00;
  --jp-color-text: #000000;
  --jp-color-bg-0: #ffffff;
  --jp-color-bg-1: #fbfbfb;
  --jp-color-bg-2: #f7f7f7;
  --jp-color-bg-3: #f3f3f3;
  --jp-color-bg-4: #efefef;
}